/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$mg-angle-down: unicode(ea02);
$mg-angle-up: unicode(ea03);
$mg-calculator: unicode(ea04);
$mg-calendar-alt: unicode(ea05);
$mg-caret-down-2: unicode(ea06);
$mg-caret-down: unicode(ea07);
$mg-caret-up-2: unicode(ea08);
$mg-caret-up: unicode(ea09);
$mg-check-circle: unicode(ea0a);
$mg-check: unicode(ea0b);
$mg-bolt: unicode(ea0c);
$mg-circle-notch: unicode(ea0f);
$mg-hand-holding-usd: unicode(ea11);
$mg-facebook: unicode(ea12);
$mg-google-plus: unicode(ea13);
$mg-bars: unicode(ea14);
$mg-paper-plane: unicode(ea15);
$mg-quote-left-2: unicode(ea18);
$mg-quote-left: unicode(ea19);
$mg-quote-right-2: unicode(ea1a);
$mg-quote-right: unicode(ea1b);
$mg-electricity: unicode(ea1c);
$mg-shield-check: unicode(ea20);
$mg-stopwatch: unicode(ea21);
$mg-sync: unicode(ea22);
$mg-times-circle: unicode(ea23);
$mg-times: unicode(ea24);
$mg-twitter: unicode(ea25);
$mg-linkedin-in: unicode(ea26);
$mg-hand-point-right: unicode(ea27);
$mg-youtube: unicode(ea29);
$mg-EM-Logo: unicode(ea2e);
$mg-bulb: unicode(ea2f);
$mg-timer: unicode(ea31);
$mg-coins: unicode(ea34);
$mg-phone-1: unicode(ea38);
$mg-ok: unicode(ea39);
$mg-people: unicode(ea3a);
$mg-house: unicode(ea3c);
$mg-wifi: unicode(ea3e);
$mg-tick: unicode(ea4f);
$mg-security: unicode(ea5c);
$mg-solar-panel: unicode(ea5d);
$mg-calendar-check: unicode(ea63);
$mg-arrows: unicode(ea64);
$mg-compare-alt: unicode(ea65);
$mg-clock-alt: unicode(ea68);
$mg-business: unicode(ea69);
$mg-residential: unicode(ea6a);
$mg-bulb-2: unicode(ea6c);
$mg-pointer: unicode(ea6d);
$mg-addressbook: unicode(ea6f);
$mg-copy: unicode(ea70);
$mg-coins-alt: unicode(ea74);
$mg-meter: unicode(ea75);
$mg-monkey-wrench: unicode(ea76);
$mg-calendar: unicode(ea77);
$mg-dashboard: unicode(ea78);
$mg-check-circle2: unicode(ea79);
$mg-gas-alt: unicode(ea7a);
$mg-lightning: unicode(ea7b);
$mg-star: unicode(ea7c);
$mg-minus-circle-alt: unicode(ea7e);
$mg-minus-circle-: unicode(ea7f);
$mg-times-circle-: unicode(ea80);
$mg-circle-alt: unicode(ea81);
$mg-circle-solid: unicode(ea82);
$mg-check-circle-: unicode(ea83);
$mg-check-circle-alt: unicode(ea84);
$mg-plus-circle-: unicode(ea85);
$mg-times-circle-alt: unicode(ea86);
$mg-plus-circle-alt: unicode(ea87);
$mg-phone-alt: unicode(ea88);
$mg-gas: unicode(ea89);
$mg-handshake-alt: unicode(ea8b);
$mg-street-view-alt: unicode(ea8d);
$mg-street-view-: unicode(ea8e);
$mg-handshake: unicode(ea8f);
$mg-phone: unicode(ea91);
$mg-chevron-circle-down-alt: unicode(ea92);
$mg-chevron-circle-right-alt: unicode(ea93);
$mg-chevron-circle-down: unicode(ea94);
$mg-chevron-circle-right: unicode(ea95);
$mg-cricket: unicode(ea96);
$mg-basketball-alt: unicode(ea97);
$mg-bowling-alt: unicode(ea98);
$mg-football-: unicode(ea99);
$mg-football-alt: unicode(ea9a);
$mg-tennis-: unicode(ea9b);
$mg-tennis-alt: unicode(ea9c);
$mg-volleyball: unicode(ea9d);
$mg-volleyball-alt: unicode(ea9e);
$mg-baseball-: unicode(ea9f);
$mg-baseball-alt: unicode(eaa0);
$mg-futbol: unicode(eaa1);
$mg-futbol-alt: unicode(eaa2);
$mg-basketball-: unicode(eaa3);
$mg-cricket-alt: unicode(eaa4);
$mg-basketball-hoop: unicode(eaa5);
$mg-basketball-hoop-alt: unicode(eaa6);
$mg-bowling: unicode(eaa7);
$mg-ticket: unicode(eaa8);
$mg-ticket-alt: unicode(eaa9);
$mg-car-alt-light: unicode(eaaa);
$mg-car-alt-solid: unicode(eaab);
$mg-car-solid: unicode(eaac);
$mg-car-side-solid: unicode(eaad);
$mg-car-light: unicode(eaae);
$mg-car-side-light: unicode(eaaf);
$mg-check-circle2-alt: unicode(eab0);
$mg-check-square-alt: unicode(eab1);
$mg-check-square: unicode(eab2);
$mg-tv-retro-alt: unicode(eab3);
$mg-chevron-circle-left-alt: unicode(eab4);
$mg-chevron-circle-left-solid: unicode(eab5);
$mg-angle-left: unicode(eab6);
$mg-angle-right: unicode(eab7);
$mg-star2-alt: unicode(eab8);
$mg-spinner: unicode(eab9);
$mg-tv-retro-solid: unicode(eaba);
$mg-comment-alt: unicode(eabb);
$mg-comment2-alt: unicode(eabc);
$mg-comments-alt: unicode(eabd);
$mg-comments: unicode(eabe);
$mg-star2-half: unicode(eabf);
$mg-comment2: unicode(eac0);
$mg-star-alt: unicode(eac1);
$mg-comment: unicode(eac2);
$mg-star2: unicode(eac3);

.mg-angle-down::before {
  content: $mg-angle-down;
}

.mg-angle-up::before {
  content: $mg-angle-up;
}

.mg-calculator::before {
  content: $mg-calculator;
}

.mg-calendar-alt::before {
  content: $mg-calendar-alt;
}

.mg-caret-down-2::before {
  content: $mg-caret-down-2;
}

.mg-caret-down::before {
  content: $mg-caret-down;
}

.mg-caret-up-2::before {
  content: $mg-caret-up-2;
}

.mg-caret-up::before {
  content: $mg-caret-up;
}

.mg-check-circle::before {
  content: $mg-check-circle;
}

.mg-check::before {
  content: $mg-check;
}

.mg-bolt::before {
  content: $mg-bolt;
}

.mg-circle-notch::before {
  content: $mg-circle-notch;
}

.mg-hand-holding-usd::before {
  content: $mg-hand-holding-usd;
}

.mg-facebook::before {
  content: $mg-facebook;
}

.mg-google-plus::before {
  content: $mg-google-plus;
}

.mg-bars::before {
  content: $mg-bars;
}

.mg-paper-plane::before {
  content: $mg-paper-plane;
}

.mg-quote-left-2::before {
  content: $mg-quote-left-2;
}

.mg-quote-left::before {
  content: $mg-quote-left;
}

.mg-quote-right-2::before {
  content: $mg-quote-right-2;
}

.mg-quote-right::before {
  content: $mg-quote-right;
}

.mg-electricity::before {
  content: $mg-electricity;
}

.mg-shield-check::before {
  content: $mg-shield-check;
}

.mg-stopwatch::before {
  content: $mg-stopwatch;
}

.mg-sync::before {
  content: $mg-sync;
}

.mg-times-circle::before {
  content: $mg-times-circle;
}

.mg-times::before {
  content: $mg-times;
}

.mg-twitter::before {
  content: $mg-twitter;
}

.mg-linkedin-in::before {
  content: $mg-linkedin-in;
}

.mg-hand-point-right::before {
  content: $mg-hand-point-right;
}

.mg-youtube::before {
  content: $mg-youtube;
}

.mg-EM-Logo::before {
  content: $mg-EM-Logo;
}

.mg-bulb::before {
  content: $mg-bulb;
}

.mg-timer::before {
  content: $mg-timer;
}

.mg-coins::before {
  content: $mg-coins;
}

.mg-phone-1::before {
  content: $mg-phone-1;
}

.mg-ok::before {
  content: $mg-ok;
}

.mg-people::before {
  content: $mg-people;
}

.mg-house::before {
  content: $mg-house;
}

.mg-wifi::before {
  content: $mg-wifi;
}

.mg-tick::before {
  content: $mg-tick;
}

.mg-security::before {
  content: $mg-security;
}

.mg-solar-panel::before {
  content: $mg-solar-panel;
}

.mg-calendar-check::before {
  content: $mg-calendar-check;
}

.mg-arrows::before {
  content: $mg-arrows;
}

.mg-compare-alt::before {
  content: $mg-compare-alt;
}

.mg-clock-alt::before {
  content: $mg-clock-alt;
}

.mg-business::before {
  content: $mg-business;
}

.mg-residential::before {
  content: $mg-residential;
}

.mg-bulb-2::before {
  content: $mg-bulb-2;
}

.mg-pointer::before {
  content: $mg-pointer;
}

.mg-addressbook::before {
  content: $mg-addressbook;
}

.mg-copy::before {
  content: $mg-copy;
}

.mg-coins-alt::before {
  content: $mg-coins-alt;
}

.mg-meter::before {
  content: $mg-meter;
}

.mg-monkey-wrench::before {
  content: $mg-monkey-wrench;
}

.mg-calendar::before {
  content: $mg-calendar;
}

.mg-dashboard::before {
  content: $mg-dashboard;
}

.mg-check-circle2::before {
  content: $mg-check-circle2;
}

.mg-gas-alt::before {
  content: $mg-gas-alt;
}

.mg-lightning::before {
  content: $mg-lightning;
}

.mg-star::before {
  content: $mg-star;
}

.mg-minus-circle-alt::before {
  content: $mg-minus-circle-alt;
}

.mg-minus-circle-::before {
  content: $mg-minus-circle-;
}

.mg-times-circle-::before {
  content: $mg-times-circle-;
}

.mg-circle-alt::before {
  content: $mg-circle-alt;
}

.mg-circle-solid::before {
  content: $mg-circle-solid;
}

.mg-check-circle-::before {
  content: $mg-check-circle-;
}

.mg-check-circle-alt::before {
  content: $mg-check-circle-alt;
}

.mg-plus-circle-::before {
  content: $mg-plus-circle-;
}

.mg-times-circle-alt::before {
  content: $mg-times-circle-alt;
}

.mg-plus-circle-alt::before {
  content: $mg-plus-circle-alt;
}

.mg-phone-alt::before {
  content: $mg-phone-alt;
}

.mg-gas::before {
  content: $mg-gas;
}

.mg-handshake-alt::before {
  content: $mg-handshake-alt;
}

.mg-street-view-alt::before {
  content: $mg-street-view-alt;
}

.mg-street-view-::before {
  content: $mg-street-view-;
}

.mg-handshake::before {
  content: $mg-handshake;
}

.mg-phone::before {
  content: $mg-phone;
}

.mg-chevron-circle-down-alt::before {
  content: $mg-chevron-circle-down-alt;
}

.mg-chevron-circle-right-alt::before {
  content: $mg-chevron-circle-right-alt;
}

.mg-chevron-circle-down::before {
  content: $mg-chevron-circle-down;
}

.mg-chevron-circle-right::before {
  content: $mg-chevron-circle-right;
}

.mg-cricket::before {
  content: $mg-cricket;
}

.mg-basketball-alt::before {
  content: $mg-basketball-alt;
}

.mg-bowling-alt::before {
  content: $mg-bowling-alt;
}

.mg-football-::before {
  content: $mg-football-;
}

.mg-football-alt::before {
  content: $mg-football-alt;
}

.mg-tennis-::before {
  content: $mg-tennis-;
}

.mg-tennis-alt::before {
  content: $mg-tennis-alt;
}

.mg-volleyball::before {
  content: $mg-volleyball;
}

.mg-volleyball-alt::before {
  content: $mg-volleyball-alt;
}

.mg-baseball-::before {
  content: $mg-baseball-;
}

.mg-baseball-alt::before {
  content: $mg-baseball-alt;
}

.mg-futbol::before {
  content: $mg-futbol;
}

.mg-futbol-alt::before {
  content: $mg-futbol-alt;
}

.mg-basketball-::before {
  content: $mg-basketball-;
}

.mg-cricket-alt::before {
  content: $mg-cricket-alt;
}

.mg-basketball-hoop::before {
  content: $mg-basketball-hoop;
}

.mg-basketball-hoop-alt::before {
  content: $mg-basketball-hoop-alt;
}

.mg-bowling::before {
  content: $mg-bowling;
}

.mg-ticket::before {
  content: $mg-ticket;
}

.mg-ticket-alt::before {
  content: $mg-ticket-alt;
}

.mg-car-alt-light::before {
  content: $mg-car-alt-light;
}

.mg-car-alt-solid::before {
  content: $mg-car-alt-solid;
}

.mg-car-solid::before {
  content: $mg-car-solid;
}

.mg-car-side-solid::before {
  content: $mg-car-side-solid;
}

.mg-car-light::before {
  content: $mg-car-light;
}

.mg-car-side-light::before {
  content: $mg-car-side-light;
}

.mg-check-circle2-alt::before {
  content: $mg-check-circle2-alt;
}

.mg-check-square-alt::before {
  content: $mg-check-square-alt;
}

.mg-check-square::before {
  content: $mg-check-square;
}

.mg-tv-retro-alt::before {
  content: $mg-tv-retro-alt;
}

.mg-chevron-circle-left-alt::before {
  content: $mg-chevron-circle-left-alt;
}

.mg-chevron-circle-left-solid::before {
  content: $mg-chevron-circle-left-solid;
}

.mg-angle-left::before {
  content: $mg-angle-left;
}

.mg-angle-right::before {
  content: $mg-angle-right;
}

.mg-star2-alt::before {
  content: $mg-star2-alt;
}

.mg-spinner::before {
  content: $mg-spinner;
}

.mg-tv-retro-solid::before {
  content: $mg-tv-retro-solid;
}

.mg-comment-alt::before {
  content: $mg-comment-alt;
}

.mg-comment2-alt::before {
  content: $mg-comment2-alt;
}

.mg-comments-alt::before {
  content: $mg-comments-alt;
}

.mg-comments::before {
  content: $mg-comments;
}

.mg-star2-half::before {
  content: $mg-star2-half;
}

.mg-comment2::before {
  content: $mg-comment2;
}

.mg-star-alt::before {
  content: $mg-star-alt;
}

.mg-comment::before {
  content: $mg-comment;
}

.mg-star2::before {
  content: $mg-star2;
}

