/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$mg-angle-down: unicode(ea03);
$mg-angle-left-solid: unicode(ea01);
$mg-angle-right-solid: unicode(ea02);
$mg-angle-up: unicode(ea04);
$mg-arrow-new: unicode(ea05);
$mg-arrow-right: unicode(ea06);
$mg-arrow-shape-1: unicode(ea07);
$mg-arrow-shape-2: unicode(ea08);
$mg-arrow-shape-3: unicode(ea09);
$mg-arrow-shape-4: unicode(ea0a);
$mg-arrow-shape-5: unicode(ea0b);
$mg-bars: unicode(ea0c);
$mg-baseball-ball-light: unicode(ea0d);
$mg-baseball-ball-solid: unicode(ea0e);
$mg-basketball-ball-light: unicode(ea0f);
$mg-basketball-ball-solid: unicode(ea10);
$mg-basketball-hoop-light: unicode(ea11);
$mg-basketball-hoop-solid: unicode(ea12);
$mg-blue-monster-icon: unicode(ea13);
$mg-bolt: unicode(ea14);
$mg-bowling-ball-light: unicode(ea15);
$mg-bowling-ball-solid: unicode(ea16);
$mg-building: unicode(ea17);
$mg-bulb: unicode(ea18);
$mg-calculator: unicode(ea19);
$mg-calendar-60: unicode(ea1a);
$mg-calendar-alt: unicode(ea1b);
$mg-calendar-blue: unicode(ea1c);
$mg-car-alt-light: unicode(ea1d);
$mg-car-alt-solid: unicode(ea1e);
$mg-car-light: unicode(ea1f);
$mg-car-side-light: unicode(ea20);
$mg-car-side-solid: unicode(ea21);
$mg-car-solid: unicode(ea22);
$mg-caret-down-2: unicode(ea23);
$mg-caret-down: unicode(ea24);
$mg-caret-up-2: unicode(ea25);
$mg-caret-up: unicode(ea26);
$mg-check-circle-07: unicode(ea27);
$mg-check-circle-light: unicode(ea28);
$mg-check-circle-solid: unicode(ea29);
$mg-check-circle: unicode(ea2a);
$mg-check-square-light: unicode(ea2b);
$mg-check-square-solid: unicode(ea2c);
$mg-check: unicode(ea2d);
$mg-chevron-circle-down-light: unicode(ea2e);
$mg-chevron-circle-down-solid: unicode(ea2f);
$mg-chevron-circle-left-light: unicode(ea30);
$mg-chevron-circle-left-solid: unicode(ea31);
$mg-chevron-circle-right-light: unicode(ea32);
$mg-chevron-circle-right-solid: unicode(ea33);
$mg-circle-notch: unicode(ea34);
$mg-circle-regular: unicode(ea35);
$mg-circle-solid: unicode(ea36);
$mg-circle: unicode(ea37);
$mg-clock-2: unicode(ea38);
$mg-clock-light: unicode(ea39);
$mg-clock: unicode(ea3a);
$mg-coins-light: unicode(ea3b);
$mg-comment-alt-light: unicode(ea3c);
$mg-comment-alt-solid: unicode(ea3d);
$mg-comment-light: unicode(ea3e);
$mg-comment-solid: unicode(ea3f);
$mg-comments-light: unicode(ea40);
$mg-comments-solid: unicode(ea41);
$mg-compare-icon-2: unicode(ea42);
$mg-compare-icon: unicode(ea43);
$mg-connection-monster: unicode(ea44);
$mg-cricket-light: unicode(ea45);
$mg-cricket-solid: unicode(ea46);
$mg-dashboard-level: unicode(ea47);
$mg-deal-white: unicode(ea48);
$mg-deal: unicode(ea49);
$mg-electricity-monster: unicode(ea4a);
$mg-facebook-f: unicode(ea4b);
$mg-football-ball-light: unicode(ea4c);
$mg-football-ball-solid: unicode(ea4d);
$mg-futbol-light: unicode(ea4f);
$mg-futbol-solid: unicode(ea4e);
$mg-google-plus-g: unicode(ea50);
$mg-hand-holding-usd: unicode(ea51);
$mg-hand-point-right: unicode(ea52);
$mg-handshake-light: unicode(ea53);
$mg-handshake-solid: unicode(ea54);
$mg-home: unicode(ea55);
$mg-homeloan-monster: unicode(ea56);
$mg-icon-1: unicode(ea57);
$mg-icon-2: unicode(ea58);
$mg-icon-3: unicode(ea59);
$mg-icon-4: unicode(ea5a);
$mg-icon-5: unicode(ea5b);
$mg-icon-big-circle-shadow: unicode(ea5c);
$mg-icon-bullet-nav: unicode(ea5d);
$mg-icon-business: unicode(ea5e);
$mg-icon-electricity-blue-2: unicode(ea5f);
$mg-icon-electricity-blue: unicode(ea60);
$mg-icon-electricity: unicode(ea61);
$mg-icon-energy-white-filled: unicode(ea62);
$mg-icon-energy-white: unicode(ea63);
$mg-icon-faq-minus: unicode(ea64);
$mg-icon-faq-plus: unicode(ea65);
$mg-icon-gas-orange-2: unicode(ea66);
$mg-icon-gas-orange: unicode(ea67);
$mg-icon-gas: unicode(ea68);
$mg-icon-new-connection: unicode(ea69);
$mg-icon-phone-2: unicode(ea6a);
$mg-icon-phone-header-fixed: unicode(ea6b);
$mg-icon-phone-marron: unicode(ea6c);
$mg-icon-phone-white: unicode(ea6d);
$mg-icon-phone: unicode(ea6e);
$mg-icon-quote-testimonial: unicode(ea6f);
$mg-icon-residential: unicode(ea70);
$mg-icon-tick-black: unicode(ea71);
$mg-icon-tick-blue-bg: unicode(ea72);
$mg-icon-tick-green-bg: unicode(ea73);
$mg-icon-tick-white-filled: unicode(ea74);
$mg-icon-tick-white: unicode(ea75);
$mg-icon-tick: unicode(ea76);
$mg-icon-time-clock: unicode(ea77);
$mg-icon-trustpilot-2: unicode(ea78);
$mg-icon-trustpilot-5-stars: unicode(ea79);
$mg-icon-trustpilot-star-2: unicode(ea7a);
$mg-icon-trustpilot-star: unicode(ea7b);
$mg-icon-trustpilot: unicode(ea7c);
$mg-internet-monster: unicode(ea7d);
$mg-light: unicode(ea7e);
$mg-lightbulb-light: unicode(ea7f);
$mg-linkedin-in: unicode(ea80);
$mg-message: unicode(ea81);
$mg-meter: unicode(ea82);
$mg-minus-circle-light: unicode(ea83);
$mg-minus-circle-solid: unicode(ea84);
$mg-monkey-wrench: unicode(ea85);
$mg-monster-icon-drop-shadow: unicode(ea86);
$mg-monster-icon: unicode(ea87);
$mg-monster-white-storck-icon: unicode(ea88);
$mg-monster: unicode(ea89);
$mg-paper-plane: unicode(ea8a);
$mg-phone-2: unicode(ea8b);
$mg-phone-solid: unicode(ea8c);
$mg-phone: unicode(ea8d);
$mg-plus-circle-light: unicode(ea8e);
$mg-plus-circle-solid: unicode(ea8f);
$mg-pointer: unicode(ea90);
$mg-quote-left-2: unicode(ea91);
$mg-quote-left: unicode(ea92);
$mg-quote-right-2: unicode(ea93);
$mg-quote-right: unicode(ea94);
$mg-rates-electricity-w: unicode(ea95);
$mg-rates-electricity: unicode(ea96);
$mg-rates-gas-w: unicode(ea97);
$mg-rates-gas: unicode(ea98);
$mg-scustom-after: unicode(ea99);
$mg-scustom-before: unicode(ea9a);
$mg-security: unicode(ea9b);
$mg-shield-check-light: unicode(ea9c);
$mg-shield-check: unicode(ea9d);
$mg-solar-panel-solid: unicode(ea9e);
$mg-solor-monster: unicode(ea9f);
$mg-spinner-solid: unicode(eaa0);
$mg-star-half-alt-solid: unicode(eaa1);
$mg-star-light: unicode(eaa2);
$mg-star-regular: unicode(eaa3);
$mg-star-solid: unicode(eaa4);
$mg-step-01-enter-details: unicode(eaa5);
$mg-step-02-download-quote: unicode(eaa6);
$mg-step-03-compare: unicode(eaa7);
$mg-step-04-call-us: unicode(eaa8);
$mg-stopwatch: unicode(eaa9);
$mg-street-view-light: unicode(eaaa);
$mg-street-view-solid: unicode(eaab);
$mg-sync: unicode(eaac);
$mg-tachometer-alt-light: unicode(eaad);
$mg-tax-monster: unicode(eaae);
$mg-tennis-ball-light: unicode(eaaf);
$mg-tennis-ball-solid: unicode(eab0);
$mg-ticket-alt-light: unicode(eab1);
$mg-ticket-alt-solid: unicode(eab2);
$mg-times-circle-light: unicode(eab3);
$mg-times-circle-solid: unicode(eab6);
$mg-times-circle: unicode(eab4);
$mg-times: unicode(eab5);
$mg-tv-retro-light: unicode(eab7);
$mg-tv-retro-solid: unicode(eab8);
$mg-twitter: unicode(eab9);
$mg-volleyball-ball-light: unicode(eaba);
$mg-volleyball-ball-solid: unicode(eabb);
$mg-youtube: unicode(eabc);

.mg-angle-down::before {
  content: $mg-angle-down;
}

.mg-angle-left-solid::before {
  content: $mg-angle-left-solid;
}

.mg-angle-right-solid::before {
  content: $mg-angle-right-solid;
}

.mg-angle-up::before {
  content: $mg-angle-up;
}

.mg-arrow-new::before {
  content: $mg-arrow-new;
}

.mg-arrow-right::before {
  content: $mg-arrow-right;
}

.mg-arrow-shape-1::before {
  content: $mg-arrow-shape-1;
}

.mg-arrow-shape-2::before {
  content: $mg-arrow-shape-2;
}

.mg-arrow-shape-3::before {
  content: $mg-arrow-shape-3;
}

.mg-arrow-shape-4::before {
  content: $mg-arrow-shape-4;
}

.mg-arrow-shape-5::before {
  content: $mg-arrow-shape-5;
}

.mg-bars::before {
  content: $mg-bars;
}

.mg-baseball-ball-light::before {
  content: $mg-baseball-ball-light;
}

.mg-baseball-ball-solid::before {
  content: $mg-baseball-ball-solid;
}

.mg-basketball-ball-light::before {
  content: $mg-basketball-ball-light;
}

.mg-basketball-ball-solid::before {
  content: $mg-basketball-ball-solid;
}

.mg-basketball-hoop-light::before {
  content: $mg-basketball-hoop-light;
}

.mg-basketball-hoop-solid::before {
  content: $mg-basketball-hoop-solid;
}

.mg-blue-monster-icon::before {
  content: $mg-blue-monster-icon;
}

.mg-bolt::before {
  content: $mg-bolt;
}

.mg-bowling-ball-light::before {
  content: $mg-bowling-ball-light;
}

.mg-bowling-ball-solid::before {
  content: $mg-bowling-ball-solid;
}

.mg-building::before {
  content: $mg-building;
}

.mg-bulb::before {
  content: $mg-bulb;
}

.mg-calculator::before {
  content: $mg-calculator;
}

.mg-calendar-60::before {
  content: $mg-calendar-60;
}

.mg-calendar-alt::before {
  content: $mg-calendar-alt;
}

.mg-calendar-blue::before {
  content: $mg-calendar-blue;
}

.mg-car-alt-light::before {
  content: $mg-car-alt-light;
}

.mg-car-alt-solid::before {
  content: $mg-car-alt-solid;
}

.mg-car-light::before {
  content: $mg-car-light;
}

.mg-car-side-light::before {
  content: $mg-car-side-light;
}

.mg-car-side-solid::before {
  content: $mg-car-side-solid;
}

.mg-car-solid::before {
  content: $mg-car-solid;
}

.mg-caret-down-2::before {
  content: $mg-caret-down-2;
}

.mg-caret-down::before {
  content: $mg-caret-down;
}

.mg-caret-up-2::before {
  content: $mg-caret-up-2;
}

.mg-caret-up::before {
  content: $mg-caret-up;
}

.mg-check-circle-07::before {
  content: $mg-check-circle-07;
}

.mg-check-circle-light::before {
  content: $mg-check-circle-light;
}

.mg-check-circle-solid::before {
  content: $mg-check-circle-solid;
}

.mg-check-circle::before {
  content: $mg-check-circle;
}

.mg-check-square-light::before {
  content: $mg-check-square-light;
}

.mg-check-square-solid::before {
  content: $mg-check-square-solid;
}

.mg-check::before {
  content: $mg-check;
}

.mg-chevron-circle-down-light::before {
  content: $mg-chevron-circle-down-light;
}

.mg-chevron-circle-down-solid::before {
  content: $mg-chevron-circle-down-solid;
}

.mg-chevron-circle-left-light::before {
  content: $mg-chevron-circle-left-light;
}

.mg-chevron-circle-left-solid::before {
  content: $mg-chevron-circle-left-solid;
}

.mg-chevron-circle-right-light::before {
  content: $mg-chevron-circle-right-light;
}

.mg-chevron-circle-right-solid::before {
  content: $mg-chevron-circle-right-solid;
}

.mg-circle-notch::before {
  content: $mg-circle-notch;
}

.mg-circle-regular::before {
  content: $mg-circle-regular;
}

.mg-circle-solid::before {
  content: $mg-circle-solid;
}

.mg-circle::before {
  content: $mg-circle;
}

.mg-clock-2::before {
  content: $mg-clock-2;
}

.mg-clock-light::before {
  content: $mg-clock-light;
}

.mg-clock::before {
  content: $mg-clock;
}

.mg-coins-light::before {
  content: $mg-coins-light;
}

.mg-comment-alt-light::before {
  content: $mg-comment-alt-light;
}

.mg-comment-alt-solid::before {
  content: $mg-comment-alt-solid;
}

.mg-comment-light::before {
  content: $mg-comment-light;
}

.mg-comment-solid::before {
  content: $mg-comment-solid;
}

.mg-comments-light::before {
  content: $mg-comments-light;
}

.mg-comments-solid::before {
  content: $mg-comments-solid;
}

.mg-compare-icon-2::before {
  content: $mg-compare-icon-2;
}

.mg-compare-icon::before {
  content: $mg-compare-icon;
}

.mg-connection-monster::before {
  content: $mg-connection-monster;
}

.mg-cricket-light::before {
  content: $mg-cricket-light;
}

.mg-cricket-solid::before {
  content: $mg-cricket-solid;
}

.mg-dashboard-level::before {
  content: $mg-dashboard-level;
}

.mg-deal-white::before {
  content: $mg-deal-white;
}

.mg-deal::before {
  content: $mg-deal;
}

.mg-electricity-monster::before {
  content: $mg-electricity-monster;
}

.mg-facebook-f::before {
  content: $mg-facebook-f;
}

.mg-football-ball-light::before {
  content: $mg-football-ball-light;
}

.mg-football-ball-solid::before {
  content: $mg-football-ball-solid;
}

.mg-futbol-light::before {
  content: $mg-futbol-light;
}

.mg-futbol-solid::before {
  content: $mg-futbol-solid;
}

.mg-google-plus-g::before {
  content: $mg-google-plus-g;
}

.mg-hand-holding-usd::before {
  content: $mg-hand-holding-usd;
}

.mg-hand-point-right::before {
  content: $mg-hand-point-right;
}

.mg-handshake-light::before {
  content: $mg-handshake-light;
}

.mg-handshake-solid::before {
  content: $mg-handshake-solid;
}

.mg-home::before {
  content: $mg-home;
}

.mg-homeloan-monster::before {
  content: $mg-homeloan-monster;
}

.mg-icon-1::before {
  content: $mg-icon-1;
}

.mg-icon-2::before {
  content: $mg-icon-2;
}

.mg-icon-3::before {
  content: $mg-icon-3;
}

.mg-icon-4::before {
  content: $mg-icon-4;
}

.mg-icon-5::before {
  content: $mg-icon-5;
}

.mg-icon-big-circle-shadow::before {
  content: $mg-icon-big-circle-shadow;
}

.mg-icon-bullet-nav::before {
  content: $mg-icon-bullet-nav;
}

.mg-icon-business::before {
  content: $mg-icon-business;
}

.mg-icon-electricity-blue-2::before {
  content: $mg-icon-electricity-blue-2;
}

.mg-icon-electricity-blue::before {
  content: $mg-icon-electricity-blue;
}

.mg-icon-electricity::before {
  content: $mg-icon-electricity;
}

.mg-icon-energy-white-filled::before {
  content: $mg-icon-energy-white-filled;
}

.mg-icon-energy-white::before {
  content: $mg-icon-energy-white;
}

.mg-icon-faq-minus::before {
  content: $mg-icon-faq-minus;
}

.mg-icon-faq-plus::before {
  content: $mg-icon-faq-plus;
}

.mg-icon-gas-orange-2::before {
  content: $mg-icon-gas-orange-2;
}

.mg-icon-gas-orange::before {
  content: $mg-icon-gas-orange;
}

.mg-icon-gas::before {
  content: $mg-icon-gas;
}

.mg-icon-new-connection::before {
  content: $mg-icon-new-connection;
}

.mg-icon-phone-2::before {
  content: $mg-icon-phone-2;
}

.mg-icon-phone-header-fixed::before {
  content: $mg-icon-phone-header-fixed;
}

.mg-icon-phone-marron::before {
  content: $mg-icon-phone-marron;
}

.mg-icon-phone-white::before {
  content: $mg-icon-phone-white;
}

.mg-icon-phone::before {
  content: $mg-icon-phone;
}

.mg-icon-quote-testimonial::before {
  content: $mg-icon-quote-testimonial;
}

.mg-icon-residential::before {
  content: $mg-icon-residential;
}

.mg-icon-tick-black::before {
  content: $mg-icon-tick-black;
}

.mg-icon-tick-blue-bg::before {
  content: $mg-icon-tick-blue-bg;
}

.mg-icon-tick-green-bg::before {
  content: $mg-icon-tick-green-bg;
}

.mg-icon-tick-white-filled::before {
  content: $mg-icon-tick-white-filled;
}

.mg-icon-tick-white::before {
  content: $mg-icon-tick-white;
}

.mg-icon-tick::before {
  content: $mg-icon-tick;
}

.mg-icon-time-clock::before {
  content: $mg-icon-time-clock;
}

.mg-icon-trustpilot-2::before {
  content: $mg-icon-trustpilot-2;
}

.mg-icon-trustpilot-5-stars::before {
  content: $mg-icon-trustpilot-5-stars;
}

.mg-icon-trustpilot-star-2::before {
  content: $mg-icon-trustpilot-star-2;
}

.mg-icon-trustpilot-star::before {
  content: $mg-icon-trustpilot-star;
}

.mg-icon-trustpilot::before {
  content: $mg-icon-trustpilot;
}

.mg-internet-monster::before {
  content: $mg-internet-monster;
}

.mg-light::before {
  content: $mg-light;
}

.mg-lightbulb-light::before {
  content: $mg-lightbulb-light;
}

.mg-linkedin-in::before {
  content: $mg-linkedin-in;
}

.mg-message::before {
  content: $mg-message;
}

.mg-meter::before {
  content: $mg-meter;
}

.mg-minus-circle-light::before {
  content: $mg-minus-circle-light;
}

.mg-minus-circle-solid::before {
  content: $mg-minus-circle-solid;
}

.mg-monkey-wrench::before {
  content: $mg-monkey-wrench;
}

.mg-monster-icon-drop-shadow::before {
  content: $mg-monster-icon-drop-shadow;
}

.mg-monster-icon::before {
  content: $mg-monster-icon;
}

.mg-monster-white-storck-icon::before {
  content: $mg-monster-white-storck-icon;
}

.mg-monster::before {
  content: $mg-monster;
}

.mg-paper-plane::before {
  content: $mg-paper-plane;
}

.mg-phone-2::before {
  content: $mg-phone-2;
}

.mg-phone-solid::before {
  content: $mg-phone-solid;
}

.mg-phone::before {
  content: $mg-phone;
}

.mg-plus-circle-light::before {
  content: $mg-plus-circle-light;
}

.mg-plus-circle-solid::before {
  content: $mg-plus-circle-solid;
}

.mg-pointer::before {
  content: $mg-pointer;
}

.mg-quote-left-2::before {
  content: $mg-quote-left-2;
}

.mg-quote-left::before {
  content: $mg-quote-left;
}

.mg-quote-right-2::before {
  content: $mg-quote-right-2;
}

.mg-quote-right::before {
  content: $mg-quote-right;
}

.mg-rates-electricity-w::before {
  content: $mg-rates-electricity-w;
}

.mg-rates-electricity::before {
  content: $mg-rates-electricity;
}

.mg-rates-gas-w::before {
  content: $mg-rates-gas-w;
}

.mg-rates-gas::before {
  content: $mg-rates-gas;
}

.mg-scustom-after::before {
  content: $mg-scustom-after;
}

.mg-scustom-before::before {
  content: $mg-scustom-before;
}

.mg-security::before {
  content: $mg-security;
}

.mg-shield-check-light::before {
  content: $mg-shield-check-light;
}

.mg-shield-check::before {
  content: $mg-shield-check;
}

.mg-solar-panel-solid::before {
  content: $mg-solar-panel-solid;
}

.mg-solor-monster::before {
  content: $mg-solor-monster;
}

.mg-spinner-solid::before {
  content: $mg-spinner-solid;
}

.mg-star-half-alt-solid::before {
  content: $mg-star-half-alt-solid;
}

.mg-star-light::before {
  content: $mg-star-light;
}

.mg-star-regular::before {
  content: $mg-star-regular;
}

.mg-star-solid::before {
  content: $mg-star-solid;
}

.mg-step-01-enter-details::before {
  content: $mg-step-01-enter-details;
}

.mg-step-02-download-quote::before {
  content: $mg-step-02-download-quote;
}

.mg-step-03-compare::before {
  content: $mg-step-03-compare;
}

.mg-step-04-call-us::before {
  content: $mg-step-04-call-us;
}

.mg-stopwatch::before {
  content: $mg-stopwatch;
}

.mg-street-view-light::before {
  content: $mg-street-view-light;
}

.mg-street-view-solid::before {
  content: $mg-street-view-solid;
}

.mg-sync::before {
  content: $mg-sync;
}

.mg-tachometer-alt-light::before {
  content: $mg-tachometer-alt-light;
}

.mg-tax-monster::before {
  content: $mg-tax-monster;
}

.mg-tennis-ball-light::before {
  content: $mg-tennis-ball-light;
}

.mg-tennis-ball-solid::before {
  content: $mg-tennis-ball-solid;
}

.mg-ticket-alt-light::before {
  content: $mg-ticket-alt-light;
}

.mg-ticket-alt-solid::before {
  content: $mg-ticket-alt-solid;
}

.mg-times-circle-light::before {
  content: $mg-times-circle-light;
}

.mg-times-circle-solid::before {
  content: $mg-times-circle-solid;
}

.mg-times-circle::before {
  content: $mg-times-circle;
}

.mg-times::before {
  content: $mg-times;
}

.mg-tv-retro-light::before {
  content: $mg-tv-retro-light;
}

.mg-tv-retro-solid::before {
  content: $mg-tv-retro-solid;
}

.mg-twitter::before {
  content: $mg-twitter;
}

.mg-volleyball-ball-light::before {
  content: $mg-volleyball-ball-light;
}

.mg-volleyball-ball-solid::before {
  content: $mg-volleyball-ball-solid;
}

.mg-youtube::before {
  content: $mg-youtube;
}

