/*------------------------
	icons
-------------------------*/
@mg-angle-down: "\ea02";
@mg-angle-up: "\ea03";
@mg-calculator: "\ea04";
@mg-calendar-alt: "\ea05";
@mg-caret-down-2: "\ea06";
@mg-caret-down: "\ea07";
@mg-caret-up-2: "\ea08";
@mg-caret-up: "\ea09";
@mg-check-circle: "\ea0a";
@mg-check: "\ea0b";
@mg-bolt: "\ea0c";
@mg-circle-notch: "\ea0f";
@mg-hand-holding-usd: "\ea11";
@mg-facebook: "\ea12";
@mg-google-plus: "\ea13";
@mg-bars: "\ea14";
@mg-paper-plane: "\ea15";
@mg-quote-left-2: "\ea18";
@mg-quote-left: "\ea19";
@mg-quote-right-2: "\ea1a";
@mg-quote-right: "\ea1b";
@mg-electricity: "\ea1c";
@mg-shield-check: "\ea20";
@mg-stopwatch: "\ea21";
@mg-sync: "\ea22";
@mg-times-circle: "\ea23";
@mg-times: "\ea24";
@mg-twitter: "\ea25";
@mg-linkedin-in: "\ea26";
@mg-hand-point-right: "\ea27";
@mg-youtube: "\ea29";
@mg-EM-Logo: "\ea2e";
@mg-bulb: "\ea2f";
@mg-timer: "\ea31";
@mg-coins: "\ea34";
@mg-phone-1: "\ea38";
@mg-ok: "\ea39";
@mg-people: "\ea3a";
@mg-house: "\ea3c";
@mg-wifi: "\ea3e";
@mg-tick: "\ea4f";
@mg-security: "\ea5c";
@mg-solar-panel: "\ea5d";
@mg-calendar-check: "\ea63";
@mg-arrows: "\ea64";
@mg-compare-alt: "\ea65";
@mg-clock-alt: "\ea68";
@mg-business: "\ea69";
@mg-residential: "\ea6a";
@mg-bulb-2: "\ea6c";
@mg-pointer: "\ea6d";
@mg-addressbook: "\ea6f";
@mg-copy: "\ea70";
@mg-coins-alt: "\ea74";
@mg-meter: "\ea75";
@mg-monkey-wrench: "\ea76";
@mg-calendar: "\ea77";
@mg-dashboard: "\ea78";
@mg-check-circle2: "\ea79";
@mg-gas-alt: "\ea7a";
@mg-lightning: "\ea7b";
@mg-star: "\ea7c";
@mg-minus-circle-alt: "\ea7e";
@mg-minus-circle-: "\ea7f";
@mg-times-circle-: "\ea80";
@mg-circle-alt: "\ea81";
@mg-circle-solid: "\ea82";
@mg-check-circle-: "\ea83";
@mg-check-circle-alt: "\ea84";
@mg-plus-circle-: "\ea85";
@mg-times-circle-alt: "\ea86";
@mg-plus-circle-alt: "\ea87";
@mg-phone-alt: "\ea88";
@mg-gas: "\ea89";
@mg-handshake-alt: "\ea8b";
@mg-street-view-alt: "\ea8d";
@mg-street-view-: "\ea8e";
@mg-handshake: "\ea8f";
@mg-phone: "\ea91";
@mg-chevron-circle-down-alt: "\ea92";
@mg-chevron-circle-right-alt: "\ea93";
@mg-chevron-circle-down: "\ea94";
@mg-chevron-circle-right: "\ea95";
@mg-cricket: "\ea96";
@mg-basketball-alt: "\ea97";
@mg-bowling-alt: "\ea98";
@mg-football-: "\ea99";
@mg-football-alt: "\ea9a";
@mg-tennis-: "\ea9b";
@mg-tennis-alt: "\ea9c";
@mg-volleyball: "\ea9d";
@mg-volleyball-alt: "\ea9e";
@mg-baseball-: "\ea9f";
@mg-baseball-alt: "\eaa0";
@mg-futbol: "\eaa1";
@mg-futbol-alt: "\eaa2";
@mg-basketball-: "\eaa3";
@mg-cricket-alt: "\eaa4";
@mg-basketball-hoop: "\eaa5";
@mg-basketball-hoop-alt: "\eaa6";
@mg-bowling: "\eaa7";
@mg-ticket: "\eaa8";
@mg-ticket-alt: "\eaa9";
@mg-car-alt-light: "\eaaa";
@mg-car-alt-solid: "\eaab";
@mg-car-solid: "\eaac";
@mg-car-side-solid: "\eaad";
@mg-car-light: "\eaae";
@mg-car-side-light: "\eaaf";
@mg-check-circle2-alt: "\eab0";
@mg-check-square-alt: "\eab1";
@mg-check-square: "\eab2";
@mg-tv-retro-alt: "\eab3";
@mg-chevron-circle-left-alt: "\eab4";
@mg-chevron-circle-left-solid: "\eab5";
@mg-angle-left: "\eab6";
@mg-angle-right: "\eab7";
@mg-star2-alt: "\eab8";
@mg-spinner: "\eab9";
@mg-tv-retro-solid: "\eaba";
@mg-comment-alt: "\eabb";
@mg-comment2-alt: "\eabc";
@mg-comments-alt: "\eabd";
@mg-comments: "\eabe";
@mg-star2-half: "\eabf";
@mg-comment2: "\eac0";
@mg-star-alt: "\eac1";
@mg-comment: "\eac2";
@mg-star2: "\eac3";

.mg-angle-down::before {
  content: @mg-angle-down;
}

.mg-angle-up::before {
  content: @mg-angle-up;
}

.mg-calculator::before {
  content: @mg-calculator;
}

.mg-calendar-alt::before {
  content: @mg-calendar-alt;
}

.mg-caret-down-2::before {
  content: @mg-caret-down-2;
}

.mg-caret-down::before {
  content: @mg-caret-down;
}

.mg-caret-up-2::before {
  content: @mg-caret-up-2;
}

.mg-caret-up::before {
  content: @mg-caret-up;
}

.mg-check-circle::before {
  content: @mg-check-circle;
}

.mg-check::before {
  content: @mg-check;
}

.mg-bolt::before {
  content: @mg-bolt;
}

.mg-circle-notch::before {
  content: @mg-circle-notch;
}

.mg-hand-holding-usd::before {
  content: @mg-hand-holding-usd;
}

.mg-facebook::before {
  content: @mg-facebook;
}

.mg-google-plus::before {
  content: @mg-google-plus;
}

.mg-bars::before {
  content: @mg-bars;
}

.mg-paper-plane::before {
  content: @mg-paper-plane;
}

.mg-quote-left-2::before {
  content: @mg-quote-left-2;
}

.mg-quote-left::before {
  content: @mg-quote-left;
}

.mg-quote-right-2::before {
  content: @mg-quote-right-2;
}

.mg-quote-right::before {
  content: @mg-quote-right;
}

.mg-electricity::before {
  content: @mg-electricity;
}

.mg-shield-check::before {
  content: @mg-shield-check;
}

.mg-stopwatch::before {
  content: @mg-stopwatch;
}

.mg-sync::before {
  content: @mg-sync;
}

.mg-times-circle::before {
  content: @mg-times-circle;
}

.mg-times::before {
  content: @mg-times;
}

.mg-twitter::before {
  content: @mg-twitter;
}

.mg-linkedin-in::before {
  content: @mg-linkedin-in;
}

.mg-hand-point-right::before {
  content: @mg-hand-point-right;
}

.mg-youtube::before {
  content: @mg-youtube;
}

.mg-EM-Logo::before {
  content: @mg-EM-Logo;
}

.mg-bulb::before {
  content: @mg-bulb;
}

.mg-timer::before {
  content: @mg-timer;
}

.mg-coins::before {
  content: @mg-coins;
}

.mg-phone-1::before {
  content: @mg-phone-1;
}

.mg-ok::before {
  content: @mg-ok;
}

.mg-people::before {
  content: @mg-people;
}

.mg-house::before {
  content: @mg-house;
}

.mg-wifi::before {
  content: @mg-wifi;
}

.mg-tick::before {
  content: @mg-tick;
}

.mg-security::before {
  content: @mg-security;
}

.mg-solar-panel::before {
  content: @mg-solar-panel;
}

.mg-calendar-check::before {
  content: @mg-calendar-check;
}

.mg-arrows::before {
  content: @mg-arrows;
}

.mg-compare-alt::before {
  content: @mg-compare-alt;
}

.mg-clock-alt::before {
  content: @mg-clock-alt;
}

.mg-business::before {
  content: @mg-business;
}

.mg-residential::before {
  content: @mg-residential;
}

.mg-bulb-2::before {
  content: @mg-bulb-2;
}

.mg-pointer::before {
  content: @mg-pointer;
}

.mg-addressbook::before {
  content: @mg-addressbook;
}

.mg-copy::before {
  content: @mg-copy;
}

.mg-coins-alt::before {
  content: @mg-coins-alt;
}

.mg-meter::before {
  content: @mg-meter;
}

.mg-monkey-wrench::before {
  content: @mg-monkey-wrench;
}

.mg-calendar::before {
  content: @mg-calendar;
}

.mg-dashboard::before {
  content: @mg-dashboard;
}

.mg-check-circle2::before {
  content: @mg-check-circle2;
}

.mg-gas-alt::before {
  content: @mg-gas-alt;
}

.mg-lightning::before {
  content: @mg-lightning;
}

.mg-star::before {
  content: @mg-star;
}

.mg-minus-circle-alt::before {
  content: @mg-minus-circle-alt;
}

.mg-minus-circle-::before {
  content: @mg-minus-circle-;
}

.mg-times-circle-::before {
  content: @mg-times-circle-;
}

.mg-circle-alt::before {
  content: @mg-circle-alt;
}

.mg-circle-solid::before {
  content: @mg-circle-solid;
}

.mg-check-circle-::before {
  content: @mg-check-circle-;
}

.mg-check-circle-alt::before {
  content: @mg-check-circle-alt;
}

.mg-plus-circle-::before {
  content: @mg-plus-circle-;
}

.mg-times-circle-alt::before {
  content: @mg-times-circle-alt;
}

.mg-plus-circle-alt::before {
  content: @mg-plus-circle-alt;
}

.mg-phone-alt::before {
  content: @mg-phone-alt;
}

.mg-gas::before {
  content: @mg-gas;
}

.mg-handshake-alt::before {
  content: @mg-handshake-alt;
}

.mg-street-view-alt::before {
  content: @mg-street-view-alt;
}

.mg-street-view-::before {
  content: @mg-street-view-;
}

.mg-handshake::before {
  content: @mg-handshake;
}

.mg-phone::before {
  content: @mg-phone;
}

.mg-chevron-circle-down-alt::before {
  content: @mg-chevron-circle-down-alt;
}

.mg-chevron-circle-right-alt::before {
  content: @mg-chevron-circle-right-alt;
}

.mg-chevron-circle-down::before {
  content: @mg-chevron-circle-down;
}

.mg-chevron-circle-right::before {
  content: @mg-chevron-circle-right;
}

.mg-cricket::before {
  content: @mg-cricket;
}

.mg-basketball-alt::before {
  content: @mg-basketball-alt;
}

.mg-bowling-alt::before {
  content: @mg-bowling-alt;
}

.mg-football-::before {
  content: @mg-football-;
}

.mg-football-alt::before {
  content: @mg-football-alt;
}

.mg-tennis-::before {
  content: @mg-tennis-;
}

.mg-tennis-alt::before {
  content: @mg-tennis-alt;
}

.mg-volleyball::before {
  content: @mg-volleyball;
}

.mg-volleyball-alt::before {
  content: @mg-volleyball-alt;
}

.mg-baseball-::before {
  content: @mg-baseball-;
}

.mg-baseball-alt::before {
  content: @mg-baseball-alt;
}

.mg-futbol::before {
  content: @mg-futbol;
}

.mg-futbol-alt::before {
  content: @mg-futbol-alt;
}

.mg-basketball-::before {
  content: @mg-basketball-;
}

.mg-cricket-alt::before {
  content: @mg-cricket-alt;
}

.mg-basketball-hoop::before {
  content: @mg-basketball-hoop;
}

.mg-basketball-hoop-alt::before {
  content: @mg-basketball-hoop-alt;
}

.mg-bowling::before {
  content: @mg-bowling;
}

.mg-ticket::before {
  content: @mg-ticket;
}

.mg-ticket-alt::before {
  content: @mg-ticket-alt;
}

.mg-car-alt-light::before {
  content: @mg-car-alt-light;
}

.mg-car-alt-solid::before {
  content: @mg-car-alt-solid;
}

.mg-car-solid::before {
  content: @mg-car-solid;
}

.mg-car-side-solid::before {
  content: @mg-car-side-solid;
}

.mg-car-light::before {
  content: @mg-car-light;
}

.mg-car-side-light::before {
  content: @mg-car-side-light;
}

.mg-check-circle2-alt::before {
  content: @mg-check-circle2-alt;
}

.mg-check-square-alt::before {
  content: @mg-check-square-alt;
}

.mg-check-square::before {
  content: @mg-check-square;
}

.mg-tv-retro-alt::before {
  content: @mg-tv-retro-alt;
}

.mg-chevron-circle-left-alt::before {
  content: @mg-chevron-circle-left-alt;
}

.mg-chevron-circle-left-solid::before {
  content: @mg-chevron-circle-left-solid;
}

.mg-angle-left::before {
  content: @mg-angle-left;
}

.mg-angle-right::before {
  content: @mg-angle-right;
}

.mg-star2-alt::before {
  content: @mg-star2-alt;
}

.mg-spinner::before {
  content: @mg-spinner;
}

.mg-tv-retro-solid::before {
  content: @mg-tv-retro-solid;
}

.mg-comment-alt::before {
  content: @mg-comment-alt;
}

.mg-comment2-alt::before {
  content: @mg-comment2-alt;
}

.mg-comments-alt::before {
  content: @mg-comments-alt;
}

.mg-comments::before {
  content: @mg-comments;
}

.mg-star2-half::before {
  content: @mg-star2-half;
}

.mg-comment2::before {
  content: @mg-comment2;
}

.mg-star-alt::before {
  content: @mg-star-alt;
}

.mg-comment::before {
  content: @mg-comment;
}

.mg-star2::before {
  content: @mg-star2;
}

